.infoCardContainer{
    display: flex;
    flex-direction: row;
}

.dashboardContent{
    background-color: var(--dashboard-bg);
    padding: 100px 20px;
}

.dashboardContentContainer {
    flex-direction: row;
    max-width: var(--site-width);
    margin: 10 auto;
}