body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --header-gradient-top:#0f414f;
  --header-gradient-bottom: #070707;
  --side-width: 400px;
  --infoCard-text-clor: #2d88a8;
  --inforCard-dark-bg-color: #1b5265;
  --dashboard-bg:  #0a0909;
  --box-border-radius: 5px;
  --h1-font-size: 0.9rem;
}
