.stockcontainer{
    background-color: #fff;
    padding: 0 200px;
    border-radius: var(--box-border-radius);
}

.header{
    padding: 10px 0;
    border-bottom: 2px solid #f1f1f1;
    margin-bottom: 15px;
    color: #585858;
    font-size: var(--h1-font-size);
}

.listHeader, 
.stockPriceListItem {
    display: flex;
}

.stockPriceListItem {
    color: #585858;
    margin: 12px 0;
}

.stockPriceList{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.listContainer{
    padding: 20px;

}

.datetimeHeader,
.listDatetime{
    width: 12rem;
}


.openHeader, .listOpen,
.closeHeader,.listClose{
    width: 8rem;
}


